@model HMS.Models.Student
@{
    ViewData["Title"] = "Create";
    var Hostels = ViewData["Hostels"] as IEnumerable<SelectListItem>;
}
@{

}


<h4> Add Student</h4>
<hr />
<div class="row">
    <div class="col-md-6 ml-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           
               
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ContactNumber" class="control-label"></label>
                        <input asp-for="ContactNumber" class="form-control" maxlength="10"/>
                        <span asp-validation-for="ContactNumber" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Email" class="control-label"></label>
                        <input asp-for="Email" class="form-control" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
              
                
                    <div class="form-group mt-4">
                        <label asp-for="Cit" class="control-label"></label>
                        <input asp-for="Cit" class="form-control" />
                        <span asp-validation-for="Cit" class="text-danger"></span>
                    </div>


                  @*  <div class="form-group">
                        <label asp-for="HostelName" class="control-label"></label>
                        <input asp-for="HostelName" class="form-control" />
                        <span asp-validation-for="HostelName" class="text-danger mb-4"></span>
                    </div>*@

                    <div class="form-group">
                        <label asp-for="HostelName" class="control-label"></label>
                        <select asp-for="HostelName" asp-items="Hostels" class="form-control"></select>
                        <span asp-validation-for="HostelName" class="text-danger mb-4"></span>
                     </div>










                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary mt-4" />

                        </div>
                 

           



            
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
