@model HMS.Models.Hostel

@{
    ViewData["Title"] = "Create";
}



<h4> Add Hostel</h4>
<hr />
<div class="row m-4">
    <div class="col-md-6">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Contact" class="control-label"></label>
                <input asp-for="Contact" class="form-control" maxlength="10"/>
                <span asp-validation-for="Contact" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Capacity" class="control-label"></label>
                <input asp-for="Capacity" class="form-control" />
                <span asp-validation-for="Capacity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rooms" class="control-label"></label>
                <input asp-for="Rooms" class="form-control" />
                <span asp-validation-for="Rooms" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Seaters" class="control-label"></label>
                <input asp-for="Seaters" class="form-control" />
                <span asp-validation-for="Seaters" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EmptySeats" class="control-label"></label>
                <input asp-for="EmptySeats" class="form-control" />
                <span asp-validation-for="EmptySeats" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Fees" class="control-label"></label>
                <input asp-for="Fees" class="form-control" />
                <span asp-validation-for="Fees" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
